[flake8]
extend_exclude = 
    .venv/, 
    build/, 
    dist/, 
    docs/,
per_file_ignores = 
    **/_[a-z]*.py:D, 
    tests/*.py:D, 
    *.pyi:D,
ignore =
    # pydocstyle
    D,
    # pydocstyle
    E,
    # pydocstyle
    W,
ignore_decorators = property # https://github.com/PyCQA/pydocstyle/pull/546
